/* ==========================================================================
   BASE CSS
   ========================================================================== */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: var(--normal-font-size);
    color: var(--primary-color);
    background-color: var(--bg-color-section);
    overflow-x: hidden;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 1rem;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  svg {
    color: var(--primary-color);
  }

  dialog {
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: initial;
    width: initial;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    text-align: center;
    padding: 2rem;
    border: none;
    display: none;
  }

  .modal-content {
    color: var(--primary-color);
    background-color: var(--bg-color-section);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 300px;
    margin: auto;
  }

  #modal[open] {
    display: flex;
  }

  .resume__modal-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Darkmode ====================================*/
  color-scheme: light dark;
  &:has([name='color-scheme']:checked) {
    color-scheme: dark;
  }
  &:has([name='color-scheme']) {
    color-scheme: light;
  }
}
