# Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Old files
.archive/

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Prettier
.prettierrc

# Eslint Config
eslint.config.mjs

# Public Key
config.js

# Node Modules
package-lock.json
package.json

# Git Ignore
.gitignore
.commits_list
