/*
Metodología BEM: https://en.bem.info/methodology/quick-start/
Generador de animaciones: https://animista.net/
Loaders con CSS: https://css-loaders.com/
Sombras con CSS: https://getcssscan.com/css-box-shadow-examples
Codepen - muchas ideas y desarrollos
==============================
  * CSS TABLE CONTENT *
==============================
1. VARIABLES CSS
2. BASE
3. REUSABLE CSS CLASSES
4. BREAKPOINTS
==============================
  * END TABLE CONTENT *
==============================
*/

/* ============= VARIABLES CSS ============= */
:root {
  --header-height: 60px;

  /* Colors */
  --primary-color: light-dark(#f3ce3a, #ffffffcc);
  --bg-color-section1: light-dark(#001219, #111);
  --bg-color-section2: light-dark(#001219, transparent);
  --bg-color-buttons: light-dark(#020e12, #6a6a6a);

  /* Typografy */
  --normal-font-size: 16px;
  --small-font-size: 12px;

  /* Weight */
  --font-semi-bold: 600;

  /* Margin */
  --mr-2: 16px;
  --mr-3: 10px;
  --mr-4: 26px;

  /* z-index */
  --z-fixed: 1;
  --z-modal: 2;

  /* Shadows */
  --box-shadow: 0px 10px 100px #0000001a;
}

/* ============= BASE ============= */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: var(--normal-font-size);
    color: var(--primary-color);
    background-color: var(--bg-color-section1);
    overflow-x: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  /* darkmode  */
  color-scheme: light dark;
  &:has([name="color-scheme"]:checked) {
    color-scheme: dark;
  }
  &:has([name="color-scheme"]) {
    color-scheme: light;
  }
}
/* ============= REUSABLE CLASSES ============= */
.section {
  padding: 3rem 0;
}

.about {
  animation: animation-nav linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 500px;
  opacity: 0;
}

.section__title {
  text-align: center;
  margin: var(--mr-3) 0;
}

.grid--container {
  max-width: 1024px;
  display: grid;
  margin: 0 auto;
  padding: 0 var(--mr-3);
}

.flex--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  margin: 5px;
  padding: 1rem 5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 15em;
  height: auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: var(--bg-color-section1);
  background-color: var(--primary-color);

  &:hover {
    color: var(--bg-color-section1);
    background-color: var(--primary-color);
    translate: 0px -4px;
    box-shadow: 0px 3px 10px #0202023b;
  }
  .btn:active {
    transform: scale(0.95);
    box-shadow: 0px 1px 5px #0202023b;
  }
}

.btn--primary {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--primary-color);
  backdrop-filter: blur(100px);
  background: var(--bg-color-buttons);
  border: none;
  padding: 15px 15vw;
  margin: 0.5rem;
  border-radius: 5px;
}

/* ============== LOADER ================= */
.loader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color-section1);
  z-index: 3;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s, visibility 0.4s;

  .loader__logo {
    color: var(--primary-color);
    width: 3rem;
    height: 3rem;
    animation: jump 1.1s infinite linear;
  }
  .loader__name {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .loader__name--light {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 1rem;
  }
  .loader__name--semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1rem;
  }
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

@keyframes jump {
  50% {
    transform: translateY(-10%) scaleY(1.05);
  }
}

/* ============= Media Queries ============= */

@media (min-width: 768px) {
  :root {
    --header-height: 90px;
    --normal-font-size: 18px;
    --small-font-size: 14px;
  }
 }
