/* ============= Home ============= */
.home {
  position: relative;

  .home__layer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100%;
    color: var(--primary-color);
    transform: translate(-50%, -50%);
    transition:
      transform 1s ease,
      filter 1s ease;
  }

  .home__container {
    position: relative;
    justify-content: center;
    align-items: center;
    row-gap: 0.1rem;
    padding: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-90px);

    .home__social {
      .home__social__link {
        color: var(--primary-color);
        font-size: 1.8rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        text-align: center;
      }
      .home__social-item {
        transition: transform 0.3s ease-in-out;
        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .home__image {
      width: clamp(100px, 100%, 300px);
      height: auto;
      margin: 0;
      position: relative;
      aspect-ratio: 1/1;
      overflow: hidden;
      transform: translateX(30px) translateY(30px) scale(0.95);
    }

    .home__image--background {
      background-image: url('/assets/img/profile_bg.svg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-top: 0.5rem;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: var(--z-fixed);
      filter: drop-shadow(2px -2px 10px rgba(1, 1, 1, 1));
    }

    .home__image--sprite {
      background-image: url('/assets/img/profile_sprite.webp');
      background-size: cover;
      background-position: left top;
      max-width: none;
      filter: drop-shadow(5px -5px 5px rgba(0, 18, 25, 0.5));
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      animation: animateSprite 1s steps(20) 2s;
      z-index: var(--z-fixed);
    }
  }

  .home__info {
    .home__title,
    .home__description {
      padding: 0.5rem;
      text-align: center;
    }

    .home__title {
      margin: auto;
      text-transform: capitalize;
      border-right: 4px solid;
      white-space: nowrap;
      width: 8ch;
      animation:
        typing 2s infinite steps(8) alternate,
        blink 0.3s infinite step-end alternate;
      overflow: hidden;
    }
  }

  .home__buttons {
    text-align: center;
  }
}

@keyframes animateSprite {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -6000px 0;
  }
}

@keyframes moveBackground {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-300px);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/* ============= About ============= */

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.about__description {
  padding: 0.5rem;
  text-align: center;
  text-wrap: wrap;
}

.about__img--container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.about__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about__img img {
  border-radius: 50%;
  width: 70%;
  max-width: 200px;
  object-fit: cover;
}

/* ============= Skills ============= */
.skills {
  .skills__description {
    padding: 0.5rem;
    text-align: center;
    text-wrap: wrap;
  }
  .skills__wrapper {
    .skills__icons {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0.5rem;
      padding: 1rem;
      justify-items: center;
      align-items: center;

      h3 {
        grid-column: 1 / -1;
        text-align: center;
        margin: 1.5rem 0 1rem;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: -0.5rem;
          left: 50%;
          transform: translateX(-50%);
          width: 50px;
          height: 3px;
        }
      }

      .skills__icon {
        width: 70px;
        height: 70px;
        object-fit: contain;
        margin: 0.5rem;
        transition: transform 0.3s ease;
        fill: var(--primary-color);

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

.skills__tags-container {
  margin-top: 1rem;
}

.skills__tags {
  flex-direction: column;
  .skills__tags-container {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .skills__tag {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    font-size: var(--small-font-size);
    background-color: var(--primary-color);
    color: var(--bg-color-section);
    filter: drop-shadow(2px 2px 5px rgba(1, 1, 1, 0.5));
    border-radius: 5px;
  }
}

/* ============= Portfolio ============= */
.portfolio {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.designs__wrapper {
  position: relative;
  overflow: hidden;
}

.carousel {
  position: relative;
}

.carousel input {
  display: none;
}

.carousel__inner {
  display: flex;
  transition: transform 0.3s ease;
}

.designs__card {
  min-width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.designs__card-img {
  max-width: 100%;
  justify-content: center;
  height: auto;
}

.carousel__inner {
  display: flex;
  transition: transform 0.3s ease;
}

.carousel input:checked:nth-of-type(1) ~ .carousel__inner {
  transform: translateX(0%);
}

.carousel input:checked:nth-of-type(2) ~ .carousel__inner {
  transform: translateX(-100%);
}

.carousel input:checked:nth-of-type(3) ~ .carousel__inner {
  transform: translateX(-200%);
}

.carousel input:checked:nth-of-type(4) ~ .carousel__inner {
  transform: translateX(-300%);
}

.carousel input:checked:nth-of-type(5) ~ .carousel__inner {
  transform: translateX(-400%);
}

.carousel input:checked:nth-of-type(6) ~ .carousel__inner {
  transform: translateX(-500%);
}

.carousel__controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.carousel__button {
  cursor: pointer;
  background-color: var(--bg-color-buttons);
  border: none;
  padding: 10px;
  width: 2rem;
  font-size: var(--small-font-size);
  margin: 0;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.carousel__button:hover {
  background-color: var(--primary-color);
  color: var(--bg-color-section);
}

.carousel__button:checked {
  background-color: var(--primary-color);
  color: var(--bg-color-section);
}

/* ============= Project ============= */

.visuallyhidden {
  position: absolute;
  z-index: -1;
  right: 0;
  opacity: 0;
}

.project__container {
  position: relative;
  height: 26rem;
  padding: 20px;
  margin-top: 2em;
  overflow: hidden;
}

.project__nav {
  visibility: visible;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--bg-color-buttons);
  color: var(--primary-color);
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: var(--z-fixed);
}

.project__nav:hover {
  background-color: var(--primary-color);
  color: var(--bg-color-buttons);
  transform: translateY(-50%) scale(1.1);
}

.project__nav i {
  font-size: 1.5rem;
}

.project__nav--prev {
  left: 1rem;
}

.project__nav--next {
  right: 1rem;
}

.project__card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.project__card--carousel {
  --card-width: 80%;
  --card-max-width: 280px;
  --card-height: 350px;
  --carousel-min-width: 600px;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: var(--card-height);
  min-width: var(--carousel-min-width);
  transition: filter 0.3s ease;
}

@media screen and (max-width: 640px) {
  .project__nav {
    visibility: hidden;
  }

  .project__card--carousel {
    margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2);
  }
}

.project__card--carousel.smooth-return {
  transition: all 0.2s ease;
}

.project__card--carousel .project__card {
  background: whitesmoke;
  width: var(--card-width);
  max-width: var(--card-max-width);
  text-align: center;
  padding: 1em;
  min-width: 250px;
  height: var(--card-height);
  position: absolute;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.5);
  transition: inherit;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  filter: brightness(0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project__card.highlight {
  filter: brightness(1);
}

.project__card:nth-of-type(1) .project__image--container {
  background-image: url('../img/project_img/marvel.webp');
}

.project__card:nth-of-type(2) .project__image--container {
  background-image: url('../img/project_img/CRUD.webp');
}

.project__card:nth-of-type(3) .project__image--container {
  background-image: url('../img/project_img/rick.webp');
}
.project__card:nth-of-type(4) .project__image--container {
  background-image: url('../img/project_img/weather.webp');
}
.project__card:nth-of-type(5) .project__image--container {
  background-image: url('../img/project_img/cookie.webp');
}

.project__image--container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.project__image--container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(2px);
  z-index: 2;
}

.project__image--container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
  z-index: 3;
}

.project__card h3.project__title,
.project__card p.project__description {
  position: relative;
  z-index: 4;
  color: var(--primary-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  margin: 1em;
}
/* ============= Contact ============= */
.contact {
  .contact__container {
    gap: 2rem;
    .contact__info {
      .contatc__info-data {
        font-style: normal;
        display: flex;
        color: inherit;
        text-decoration: none;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
      }
    }

    .contact__info-data {
      .contact__form a {
        color: inherit;
        text-decoration: none;
      }

      .contact__form a:visited {
        color: inherit;
      }
    }

    .contact__form {
      width: 100%;
      padding: 3rem 1.5rem 2rem;
      background-color: var(--bg-color-section);
      border-radius: 5px;
      margin: 0 auto;

      .contact__form-container {
        .contact__form-group {
          margin-bottom: var(--mr-4);

          .contact__form-label {
            display: block;
            margin-bottom: 8px;
          }

          .contact__form-input {
            width: 100%;
            padding: 1rem;
            font-size: 1.2rem;
            font-weight: 600;
            border-radius: 5px;
            background-color: var(--bg-color-buttons);
            color: var(--primary-color);
            border: 0;
          }

          textarea {
            resize: none;
          }
        }
      }
    }
  }
}
