/* ============= Resume ============= */
#pdf-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  overflow: auto; /* Habilita el scroll si el contenido es mayor que el contenedor */
}

canvas {
  display: block;
  margin: 0 auto; /* Centra el canvas dentro del contenedor */
}

.fab-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre los botones */
}

.fab {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 0.5rem;
  background-color: var(--bg-color-buttons);
  color: var(--primary-color);
  font-size: 24px;
  transition:
    width 0.3s,
    height 0.3s,
    font-size 0.3s,
    padding 0.3s;
  text-decoration: none;
  overflow: hidden; /* Asegura que no haya texto fuera del botón */
}

.fab i {
  transition: margin-right 0.3s;
}

.fab .fab-text {
  display: none; /* Oculta el texto por defecto */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  margin-left: 10px; /* Espacio entre el icono y el texto */
}

.fab.expanded {
  width: 200px; /* Tamaño del botón expandido */
  height: 56px; /* Mantener la altura */
  font-size: 18px; /* Ajustar tamaño del ícono */
  padding-left: 16px;
  padding-right: 16px;
}

.fab.expanded i {
  margin-right: 12px; /* Espacio entre el ícono y el texto */
}

.fab.expanded .fab-text {
  display: inline-block; /* Muestra el texto al expandir */
}
