/* ============= Resume ============= */
#pdf-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    overflow-y: scroll; /* Habilita el scroll vertical */
    padding: 20px; /* Espaciado alrededor del contenido */
    gap: 20px; /* Espacio entre las páginas */
}

canvas {
    display: block;
    max-width: 100%; /* Asegura que el canvas no se desborde horizontalmente */
    margin: 0 auto; /* Centra el canvas dentro del contenedor */
}

.fab-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fab {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
  background-color: var(--bg-color-buttons);
  color: var(--primary-color);
  font-size: 24px;
  transition:
    width 0.3s,
    height 0.3s,
    font-size 0.3s,
    padding 0.3s;
  text-decoration: none;
  overflow: hidden;
}

.fab-text {
  transition: margin-left 0.3s;
}

.fab .fab-text {
  display: none;
  white-space: nowrap;
  margin-left: .2rem;
}

.fab.expanded {
  width: 10rem;
  height: 4rem;
  font-size: 18px;
  padding-left: 1rem;
  padding-right: 1rem;
}


.fab.expanded .fab-text {
  display: inline-block;
}
