/* ============= Resume ============= */
.resume__container {
    margin: 2rem auto;
    padding: 1rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    overflow: auto;
    text-align: justify;
    display: flex;
    flex-direction: column;
  }

  .resume__container h1,
  .resume__container h2,
  .resume__container h3 {
    margin-bottom: 1rem;
    color: var(--primary-color);
    font-size: 1.5rem;
  }

  .resume__container p,
  .resume__container ul {
    color: var(--primary-color);
    line-height: 1.5;
  }

  .resume__container ul {
    padding-left: 1rem;
  }

  .resume__container hr {
    border: none;
    border-top: 2px solid var(--primary-color);
    margin: 10px 0;
    width: 100%;
  }

  .btn__cv {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    flex-direction: column;
    gap: 10px;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;
    right: 50%;
    transform: translateX(50%);
  }

  .btn__cv .btn {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    width: 100%;
    max-width: 200px;
  }

  .show-btns {
    display: flex;
  }

  @media (min-width: 768px) {
    .resume__container {
      max-width: 900px;
    }
    .resume__container h1,
    .resume__container h2,
    .resume__container h3 {
      font-size: 2rem;
    }

    .btn__cv {
      right: 20px;
      transform: translateX(0);
      align-items: flex-start;
    }

    .btn__cv .btn {
      width: 300px;
    }
  }
