/*
==============================
  * CSS TABLE CONTENT *
==============================
1. VARIABLES CSS
2. BASE
3. REUSABLE CSS CLASSES
4. HEADER & NAV
5. BREAKPOINTS
==============================
  * END TABLE CONTENT *
==============================
*/

/* ============= VARIABLES CSS ============= */
@import url('./_variables.css');
/* ============= BASE ============= */
@import url('./_base.css');
/* Background ====================================*/
.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bgGrain {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('/assets/img/bgGrain.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 300%;
  height: 100%;
}

.bgBack,
.bgMiddle,
.bgFront {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bgBack {
  width: 160%;
  filter: blur(2px) brightness(0.5);
}

.bgMiddle {
  width: 155%;
  filter: blur(1px) brightness(0.9) drop-shadow(2px 2px 5px rgba(1, 1, 1, 1));
}

.bgFront {
  width: 150%;
  filter: blur(0.5px) brightness(1) drop-shadow(2px 2px 5px rgba(1, 1, 1, 1));
}

/* Hover effects */
.background-container:hover .bgBack {
  transform: translate(-50%, -50%) translate(-40px, 20px);
}

.background-container:hover .bgMiddle {
  transform: translate(-50%, -50%) translate(-30px, -15px);
}

.background-container:hover .bgFront {
  transform: translate(-50%, -50%) translate(40px, -10px);
}

.bgBack,
.bgMiddle,
.bgFront {
  transition: transform 0.5s ease-in-out;
}

/* ============= REUSABLE CLASSES ============= */
#home {
  opacity: 1;
}

section {
  padding: 3rem 0;
  opacity: 0;
  transition:
    opacity 1s ease-in-out,
    visibility 0s 1s; /* Transición suave */
}

.section.visible {
  opacity: 1;
  visibility: visible;
  transition:
    opacity 1s ease-in-out,
    visibility 0s;
}

.section__title {
  text-align: center;
  margin: 0.8rem 0;
}

.grid--container {
  max-width: 1024px;
  display: grid;
  margin: 0 auto;
  padding: 0 1rem;
}

.flex--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  padding: 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  width: 90%;
  height: auto;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--primary-color);
  background-color: var(--bg-color-buttons);
  box-shadow: var(--box-shadow);
  text-transform: uppercase;
  font-weight: 600;
}

.btn:hover,
.btn:active {
  color: var(--bg-color-buttons);
  background-color: var(--primary-color);
  box-shadow: 0px 3px 10px #0202023b;
  transform: scale(0.95);
}

.btn:focus {
  color: var(--primary-color);
  background-color: var(--bg-color-buttons);
}

/* ============== LOADER ================= */
.loader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color-section);
  z-index: 3;
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.4s,
    visibility 0.4s;

  .loader__logo {
    fill: var(--primary-color);
    width: 3rem;
    height: 3rem;
    animation: jump 1.1s infinite linear;
  }
  .loader__name {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .loader__name--light {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1rem;
  }
  .loader__name--semibold {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
  }
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

@keyframes jump {
  50% {
    transform: translateY(-20%) scaleY(1.05);
  }
}



/* ============= Footer ============= */
.footer {
  background-color: #111;
  color: #efefef;
  padding-bottom: 2rem;
  bottom: 0;
}

.footer__container {
  display: grid;
  gap: 1rem;
}

.footer__info .footer__title {
  font-size: 1.5rem;
}

.footer__social .footer__social-list {
  display: flex;
  gap: var(--mr-2);
  font-size: 1.5rem;
}

.footer__social-link {
  color: var(--primary-color);
  transition: text-shadow 0.3s;
  text-align: center;
  margin-top: 2rem;
  padding-top: 2rem;
}

.footer__social-link:hover {
  transform: scale(1.2);
}

.footer__copyrightright {
  text-align: center;
  padding-top: 2rem;
}
