/* ============= Skills Section ============= */

.skills__wrapper .skills__icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--small-font-size);
  margin: var(--margin-small);
}

.skills__icons {
  gap: var(--gap-medium);
}
.skills__title {
  margin: var(--margin-medium);
}

.skills__wrapper .skills__icons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  justify-items: center;
  align-items: center;
}

.skills__wrapper .skills__icons .skills__title {
  grid-column: 1 / -1;
  text-align: center;
  position: relative;
  gap: var(--gap-small);
}

.skills__wrapper .skills__icons .skills__title::after {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.skills__icon {
  width: 64px;
  height: 64px;
  object-fit: contain;
  transition: transform 0.3s ease;
  fill: var(--primary-color);
}

.skills__icon:hover {
  transform: scale(1.1);
}

.skills__icon-title {
  margin: var(--margin-small);
  white-space: nowrap;
}

.skills__tags-container {
  margin-top: 1rem;
}

.skills__tags {
  display: flex;
  flex-direction: column;
}

.skills__tags .skills__tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.skills__tags .skills__tag {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  font-size: var(--small-font-size);
  background-color: var(--primary-color);
  color: var(--bg-color-section);
  filter: drop-shadow(2px 2px 5px rgba(1, 1, 1, 0.5));
  border-radius: 5px;
}

/* SKILLS MIN WIDTH 768px ========================== */
@media (min-width: 768px) {
  .skills .skills__wrapper .skills__icons {
    grid-template-columns: repeat(6, 1fr);
  }

  .skills .skills__wrapper .skills__icon {
    width: 100px;
    height: 100px;
  }
}
