/* ============== HEADER & NAVBAR ================= */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  align-content: center;
  background-color: transparent;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
  z-index: var(--z-modal);
  animation: animation-nav linear both;
  animation-timeline: scroll(root block);
  -webkit-animation-timeline: scroll(root block);
  animation-range: 0 100px;
  -webkit-animation-range: 0 100px;
  opacity: 0;

  .navbar {
    justify-content: space-between;

    .navbar__logo {
      display: flex;
      align-items: center;
      column-gap: 0.25rem;
      color: var(--primary-color);
      fill: var(--primary-color);
    }

    .navbar__menu {
      position: fixed;
      top: -700%;
      left: 0;
      width: 100%;
      border-radius: 0 0 12px 12px;
      background-color: var(--bg-color-section);
      box-shadow: 0px 1px 9px 2px #00000024;
      padding: 2rem 0;
      transition: all 0.6s;
      z-index: var(--z-modal);

      &:target {
        top: 0;
      }

      .navbar__list {
        flex-direction: column;
        gap: 20px;
        transition: transform 0.3s ease;

        .navbar__item {
          .navbar__link {
            color: var(--primary-color);
            font-size: 1.1rem;
            font-weight: 600;
            transition: color 0.3s;

            &:hover {
              color: #947d24;
            }
          }

          .active {
            border-bottom: 2px solid #947d24;
            transform: translateY(0);
            opacity: 1;
          }
        }
      }

      .btn__close {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        background-color: var(--bg-color-section);
        width: 38px;
        height: 38px;
        border-radius: 50%;

        &:hover {
          background-color: var(--primary-color);
          color: var(--bg-color-section);
        }
      }
    }

    /* Toggles ====================================*/
    .navbar__toggles {
      gap: 1rem;
      margin-top: 2rem;

      /* Darkmode Toggle ====================================*/
      .navbar__toggle--darkmode {
        .navbar__toggle--darkmode-label {
          width: 42px;
          height: 20px;
          position: relative;
          display: block;
          background: #ebebeb;
          border-radius: 20px;
          box-shadow:
            inset 0px 2px 5px #00000066,
            inset 0px -2px 5px #ffffff66;
          cursor: pointer;
          transition: 0.3s;

          &::after {
            content: '';
            width: 16px;
            height: 16px;
            position: absolute;
            top: 2px;
            left: 2px;
            background: linear-gradient(180deg, #ffcc89, #d8860b);
            border-radius: 20px;
            box-shadow: 0px 5px 10px #00000033;
            transition: 0.3s;
          }

          &:active::after {
            width: 40px;
          }

          i {
            position: absolute;
            font-size: 14px;
            top: 3px;
            z-index: var(--z-fixed);

            &.navbar__toggle--darkmode-sun {
              left: 3px;
              color: var(--bg-color-buttons2);
              transition: 0.3s;
            }

            &.navbar__toggle--darkmode-moon {
              right: 2px;
              color: #7e7e7e;
              transition: 0.3s;
            }
          }
        }

        .navbar__toggle--darkmode-input {
          visibility: hidden;

          &:checked + label {
            background: #242424;

            &::after {
              left: 40px;
              transform: translateX(-100%);
              background: linear-gradient(180deg, #777, #3a3a3a);
            }

            .bx-sun {
              color: #7e7e7e;
            }

            .bx-moon {
              color: var(--bg-color-buttons2);
            }
          }
        }
      }

      /* Language toggle ====================================*/
      .navbar__toggle--language {
        .navbar__toggle--language-label {
          width: 42px;
          height: 20px;
          position: relative;
          display: block;
          background: #ebebeb;
          border-radius: 20px;
          box-shadow:
            inset 0px 2px 5px #00000066,
            inset 0px -2px 5px #ffffff66;
          cursor: pointer;
          transition: 0.3s;

          &::after {
            content: '';
            width: 16px;
            height: 16px;
            position: absolute;
            top: 2px;
            left: 2px;
            background-image: url(../../img/reino-unido.png);
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            box-shadow: 0px 5px 10px #00000033;
            transition: 0.3s;
          }
        }

        .navbar__toggle--language-input {
          visibility: hidden;

          &:checked + label {
            &::after {
              left: 40px;
              transform: translateX(-100%);
              background-image: url(../../img/español.png);
            }
          }
        }
      }
    }
  }

  .btn__open,
  .btn__close,
  .navbar__logo i {
    font-size: 2.2rem;
    color: var(--primary-color);
    transition: background 0.3s;
  }

  .logo {
    width: 2.2rem;
    height: 2.2rem;
  }

  .navbar__logo--name {
    font-weight: 300;
  }

  .navbar__logo--lastname {
    margin-left: -3.5px;
    font-weight: 600;
  }

  .btn__open {
    &:hover {
      background-color: #dfdfdf;
    }
  }
}

@keyframes animation-nav {
  to {
    opacity: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: var(--box-shadow);
  }
}

/* ============= Media Queries MIN WIDTH (768px)============= */
@media (min-width: 768px) {
  .header {
    .navbar {
      .navbar__menu {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        position: static;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
        .navbar__list {
          flex-direction: row;
        }
        .btn__close {
          display: none;
        }
      }
    }
    .btn__open {
      display: none;
    }
  }

  .btn {
    max-width: 300px;
  }

  .header {
    & .navbar {
      & .navbar__toggles {
        margin-top: 0;
      }
    }
  }

  .navbar__logo--name,
  .navbar__logo--lastname {
    display: visible;
  }
}
