/* ============= Sections ============= */

section {
  padding: 4rem 0;
  opacity: 0;
  transition: opacity 1s ease-in-out, visibility 0s 1s;
}

section.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease-in-out, visibility 0s;
}

.section__title {
  text-align: center;
  margin: 0.8rem 0;
}
